<style type="text/css" media="screen">
input[type=checkbox] {
  display: none;
}

input[type=checkbox]:checked~.remove-check {
  display: none;
}


input[type=checkbox]:checked~#email {
  display: block;
}

input[type=checkbox]:checked~#email2 {
  display: block;
}

#email {
  display: none;
}

.email2 {
  display: none;
}

.displayInline {
  display: inline;
}

.dateText {
  text-transform: capitalize;
}

.show-times {
  float: left;
  padding: 5px 10px;
  margin: 0 3px 3px 0;
  background-color:
    orange;
  color: white;
}

.disabled {
  float: left;
  padding: 5px 10px;
  margin: 0 3px 3px 0;
  background-color: grey;
  color: black;
}

.cinemaActive {
  border-top: 3px solid grey;
  border-bottom: 3px solid grey;
}

</style>
<div>
  <figcaption>
    <!--<span style="    display: inline-block;
    width: 100%; font-size: 18px;"> {{ this.movie.movie_name }} </span>-->
    <span [textContent]="this.runtime"></span>
  </figcaption>
  <div>
    <div style="position: relative;">
      <div *ngIf="this.movie.distributor_convert_name !== '' && this.movie.distributor_convert_name !== null">
        <h5 style="    position: absolute;
    right: 15px;
    color: white;
    top: 10px;"> Forgalmazza: </h5>
        <img *ngIf="this.movie.distributor_convert_name === 'cirko_film' || this.movie.distributor_convert_name === 'ads_service'" style="    position: absolute;
    top: 50px;
    right: 40px;
    width: 80px;" src="images/{{this.movie.distributor_convert_name}}.svg">
        <img *ngIf="this.movie.distributor_convert_name !== 'cirko_film' && this.movie.distributor_convert_name !== 'ads_service' && this.movie.distributor_convert_name !== 'big_bang_media'" style="    position: absolute;
    top: 50px;
    right: 40px;
    width: 80px;" src="images/{{this.movie.distributor_convert_name}}.png">
        <img *ngIf="this.movie.distributor_convert_name === 'big_bang_media' || this.movie.distributor_convert_name === 'mozinet' || this.movie.distributor_convert_name === 'magyarhangya' || this.movie.distributor_convert_name === 'uip_duna'" style="    position: absolute;
    top: 50px;
    right: 40px;
    width: 80px;" src="images/{{this.movie.distributor_convert_name}}.jpg">
      </div>
      <img style=" width: 100%;
  height: auto;" src="{{this.movie.backdrop_path}}">
      <div style="position: absolute; top: 30px; left: 15px;">
        <div style="float: left; margin-right: 15px;">
          <a style="color: white;" href="{{this.imdbUrl}}" target="_blank">
            <img style="background-color: white; box-sizing: none" src="images/imdb.png" style="display: inline;">
          </a>
        </div>
        <!--
          <div style="    top: 2px;
    position: absolute;
    left: 170px;
    color: white;
    white-space: nowrap;">
              {{this.runtime}}

          </div>
        -->
        <div *ngIf="this.movie.imdb_rate !== 'N/A' && this.movie.imdb_rate !== null" style="    top: 0;
    left: 100px;
    white-space: nowrap;
    color: white;
    position: absolute;">
          <span style="font-size: 24px;
    font-weight: normal;
    font-family: Arial;
    line-height: 24px;"> {{ this.movie.imdb_rate }} </span>
          <span style="    color: white;
    font-size: 10px;">/10</span>
          <div style="    top: 20px;
    position: absolute;
    left: 0;
    color: white;
    white-space: nowrap;">
            <span style="font-size: 14px; display: block;"
              *ngIf="this.movie.imdb_vote !== 'N/A'" 
              [textContent]="this.movie.imdb_vote">
            </span>
          </div>
        </div>
      </div>
    </div>

    <h1 class="modal-title text-center"
      id="modal-basic-title"
      [textContent]="this.movie.movie_name">
    </h1>

    <div style="position: relative;
    text-align: center;
    width: 50%;
    margin-left: auto;
    margin-right: auto;">

      <h2 style="display: inline-block; margin-right: 10px;" class="modal-title text-center"
        id="modal-basic-original-title"
        [textContent]="'/' + this.movie.originalname + '/'">
      </h2>

      <img *ngIf="this.movie.up_rating !== '' && this.movie.up_rating !== null" style="width: 20px;" src="images/{{this.movie.up_rating}}.svg">
    </div>

    <div class="close modal-close"
      aria-label="Close"
      (click)="close()">
      <span aria-hidden="true">&times;</span>
    </div>

  </div>
  <div class="modal-body">
    <div class="synopsis-of-the-film">
      <span [textContent]="this.movie.description"></span>
    </div>

    <section style="display: block; width: 100%; margin-top: 20px; margin-bottom: 20px;">
      <h2> Gyártók </h2>
      <div class="row">
        <div class="col" *ngFor="let production of this.productionList">
          <div style="text-align: center;">
            <img style="    object-fit: contain;
          height: 60px;
          width: 200px; display: block; margin: auto;" src="https://image.tmdb.org/t/p/original{{production.logo_path}}">
            <span style="display: block;"
              *ngIf="production.logo_path !== '' && production.logo_path !== 'null'"
              [textContent]="production.name">
            </span>
          </div>
        </div>
      </div>
    </section>

    <section class="modal-movie-trailer-section">
      <div class="video-grid loading">
        <div class="video-item">
          <div class="video-wrap" style="height: 360px;">
            <iframe id="youtubeVideo" [src]="this.first" width="640" height="360" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
          </div>
        </div>
        <div style="width: 250px; overflow: hidden; height: 360px;">
          <ul id="ss_elem_list" tabindex="0" role="listbox" aria-labelledby="ss_elem">
            <div class="video-item container">
              <div class="video-wrap" *ngFor="let item of this.movieTrailer">
                <iframe id="youtubeVideo" [src]="item" width="640" height="360" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
              </div>
            </div>
          </ul>
        </div>
        <ngx-loading [show]="this.loading"
          [config]="
            {
              animationType: ngxLoadingAnimationTypes.circleSwish,
              primaryColour: primaryColour,
              secondaryColour: secondaryColour,
              backdropBorderRadius: '3px'
            }"
          [template]="loadingTemplate">
        </ngx-loading>
      </div>
    </section>

    <article>
      <h3> STÁBLISTA </h3>

      <section>
        <h5> Rendező </h5>
        <div class="container" style="text-align: center;">
          <div class="row" style="
                    margin-bottom: 10px;">
            <div class="col" style="text-align: left;">
              <a href="{{this.actorImdbUrl}}{{this.directors.director_imdb_id}}" target="_blank">
                <div class="draw avatar" style="display: inline-block;">
                  <img *ngIf="this.directorImgValidator" src="{{this.directors.director_image_url}}">
                  <img *ngIf="!this.directorImgValidator" src="images/no_avatar.png">
                </div>
              </a>
              <div style="padding: 4px 6px 6px; display: inline-block;"
                [textContent]="this.movie.director">
              </div>
            </div>
          </div>
        </div>
      </section>

      <section>
        <h5> Forgatókönyv </h5>
        <span [textContent]="this.movie.writer"></span>
      </section>

      <section>
      <div id="actors">
        <h5> Szereposztás</h5>
        <div class="container" style="text-align: center;">
          <div class="row" *ngFor="let actor of this.actors | slice:0:this.show;" style="
            margin-bottom: 10px;">
            <div class="col" style="text-align: left;">
              <a href="{{this.actorImdbUrl}}{{actor.imdb_id}}" target="_blank">
                <div class="draw avatar" style="display: inline-block;">
                  <img *ngIf="actor.actor_avatar_img !== null" src="https://image.tmdb.org/t/p/original/{{actor.actor_avatar_img}}">
                  <img *ngIf="actor.actor_avatar_img === null" src="images/no_avatar.png">
                </div>
              </a>
              <div style="padding: 4px 6px 6px; display: inline-block;"> {{actor.actor_name}} </div>
            </div>
            <div class="col" style="text-align: left;">
              <div style="padding: 15px 6px 6px; display: inline-block;"> {{actor.character}} </div>
            </div>
          </div>
          <div *ngIf="this.show < actorsCount" (click)="showMore()">További szereplők</div>
          <div *ngIf="this.show >= actorsCount" (click)="showLess()">Kevesebb mutatása</div>
        </div>
      </div>
    </section>
    </article>

    <section style="display: block;">
      <div>
        <div style="float:left;" *ngFor="let showDate of this.uniqueDate">
          <div>
            <span class="dateText"> {{showDate | dateFormatter}} </span>
          </div>
          <div class="date-wrapper" (click)="dateTimer(showDate)" [ngClass]="{ 'activeDate': showDate === this.selectDate}">
            <span class="dateText">{{showDate | datePicker}}</span>
          </div>
        </div>
      </div>
    </section>

    <section style="display: inline-block; width: 100%; margin-top: 15px;">
      <ul class="showtime-days" style="    margin: 0;
          padding: 0;
          list-style: none;">
        <li class="showtimetab" *ngFor="let show1 of this.unique" style="display: block;" [ngClass]="{'cinemaActive': this.xxxxx === show1}">
          <h3 style="cursor: pointer;" (click)="selectCity(show1)"> {{show1}}</h3>
          <!--<input type="checkbox" id="{{show1 | replace}}" role="button">-->
          <div *ngIf="show1 === this.xxxxx" style="margin-left: 25px;, margin-right: 25px;">
        <li class="showtimetab" *ngFor="let show2 of this.unique1">
          <h4 style="display: block;" (click)="selectCinema(show2)"> {{show2}}</h4>
          <div *ngIf="show2 === this.xxxxx2">
            <ul style="    margin: 0;
    padding: 0;
    list-style: none;
    overflow: auto;
    border-bottom: 1px solid hsla(0,0%,98%,.3);">
              <div *ngFor="let show of this.showTimes">
                <li [hidden]="!this.block" [ngClass]="(this.currentDate == show.date) ? show.time >= this.nowHourly ?'show-times':'disabled' : 'show-times'">{{show.time}}
                </li>
              </div>
            </ul>
          </div>
        </li>
  </div>
  </li>
  </ul>
  </section>
</div>
<div class="favourite">
  <i class="mdi mdi-star"></i>
</div>
</div>
