<div>
  <div>
    <figcaption>
      This is the article names
      <p> TITLE </p>
    </figcaption>
    <div>
      <h4 class="modal-title" id="modal-basic-title">TITLE</h4>
      <div class="close modal-close" aria-label="Close" (click)="close()">
        <span aria-hidden="true">&times;</span>
      </div>
    </div>
    <div class="modal-body">
      <span> Data </span>
    </div>
    <div>
      Data
      <div>
        click
      </div>
    </div>
  </div>
  <div class="favourite">
    <i class="mdi mdi-star"></i>
  </div>
</div>
