<p>
  articles-list works!
</p>
<ng-template #content let-modal>
  <div>
    <div>
      <figcaption>
        This is the article names
        <p>{{this.articleModalData.address}}</p>
      </figcaption>
      <div>
        <h4 class="modal-title" id="modal-basic-title">{{this.articleModalData.id}}</h4>
        <div class="close modal-close" aria-label="Close" (click)="modal.dismiss('close')">
          <span aria-hidden="true">&times;</span>
        </div>
      </div>
      <div class="modal-body">
        <span> {{this.articleModalData | json}} </span>
      </div>
      <div>
        {{this.articleModalData.address}}
        <div>
          click
        </div>
      </div>
    </div>
    <div class="favourite" (click)="favourite({email: this.articleModalData.email, id:this.articleModalData.id})">
      <i class="mdi mdi-star"></i>
    </div>
  </div>
</ng-template>
<div (click)="open(content)">Launch demo modal</div>
